<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <!-- CONTENT GOES HERE -->
        <a class="btn btn-primary" routerLink="/ajouter">Ajouter Evenement</a> 
        <div class="p-2 border-2 border-dashed border-gray-300 rounded-2xl mt-6">
            <table class="table">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th >Description</th>
                    <th>Email</th>
                    <th>Type</th>
                    <th>Modifier</th>
                  </tr>
                </thead>
                <tbody class="bg-white dark:bg-slate-800">
                  <tr *ngFor="let event of events">
                    <td>{{event.id}}</td>
                    <td>{{event.description}}</td>
                    <td>{{event.email}}</td>
                    <td>{{event?.type_id?.type}}</td>
                    <td><button class="btn btn-warning" routerLink="/modifier/{{event.id}}">Modifier</button></td>
                </tr>
                </tbody>
            </table>
            <!-- <table class="border-collapse table-auto w-full text-sm">
                
                
              </table> -->
        </div>

    </div>
</div>




